venv/*
src/server/uploads
src/explore/*
*.pyc
src/node/uploads/*


src/device/device.py
src/server/server/server.py
src/server/server/__init__.py
src/server/server/common.py
src/server/server/debug_print.py
src/server/server/serverUtils.py
src/server/Dockerfile.deploy
*.orig

.vscode/settings.json
config/config.test.yaml
config/config.ssdtemp.yaml
config/config.ssd.yaml
config/config.small.yaml
config/config.dsta.yaml
config/config.chiron.yaml
config/config.zeroconf.yaml
Dockerfile.new
docker-compose-new.yaml
device/static/js/scratch_multiprocessor.js
device/static/scratch_multiprocessor.html
device/scratch_mcap.py
device/scratch_minimal.py
device/scratch_multiprocess.py
device/scratch_reindex.py
bin/mcap-linux-amd64
config/config.second.yaml
device/test_utils.py
scratch/app.py
scratch/templates/index.html
device/scratch_mt.py
profile_out.prof
config/*.identity
