
services:
  storage_tools_device:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        CONFIG_PORT: ${STORAGE_TOOL_DEVICE_CONFIG_PORT}
      network: host 
    image: storage_tools_device
    container_name: storage_tools_device
    network_mode: host
    environment:
      - STORAGE_TOOL_DEVICE_CONFIG_FILE=${STORAGE_TOOL_DEVICE_CONFIG_FILE}
      - STORAGE_TOOL_DEVICE_CONFIG_PORT=${STORAGE_TOOL_DEVICE_CONFIG_PORT}
      - STORAGE_TOOL_DEVICE_DATA_DIR=${STORAGE_TOOL_DEVICE_DATA_DIR}
    volumes:
      - ${STORAGE_TOOL_DEVICE_DATA_DIR}:${STORAGE_TOOL_DEVICE_DATA_DIR}
      - ./config:/app/config
    tty: true
    stdin_open: true
    restart: always
